In [143]:
# 4.1 

pizza = ['pepperoni', 'hawaiian', 'meat-lovers']

for x in pizza: 
    print(f"\nI like {x} pizza")

print("I really like pizza")

I like pepperoni pizza

I like hawaiian pizza

I like meat-lovers pizza
I really like pizza

In [144]:
# 4.2

animals = ['dog', 'cat', 'ferret']

for x in animals:
    print(f"{x}")
    print(f"A {x} would make a great pet")

print("\nAll of these animals are cute!")

dog
A dog would make a great pet
cat
A cat would make a great pet
ferret
A ferret would make a great pet

All of these animals are cute!

In [145]:
# 4.4 

for x in range(1, 20 + 1): 
    print(x)

million = [x for x in range(1, 1000000 + 1)]

## This prints from one to one million, making the rest of the code hard to read, which is why it's commented.
# print(million)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [146]:
# 4.5

million = [x for x in range(1, 1000000 + 1)]

print(f"\nSum: {sum(million)}")
print(f"Min: {min(million)}")
print(f"Max: {max(million)}")

Sum: 500000500000
Min: 1
Max: 1000000

In [147]:
# 4.6 

odd = [x for x in range(1, 20, 2)] 
print(odd)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [148]:
# 4.7 

multiples = [x for x in range(3, 30, 3)] 
print(multiples)

[3, 6, 9, 12, 15, 18, 21, 24, 27]

In [149]:
# 4.8 

cubes = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for x in cubes: 
    print(x ** 3)

1
8
27
64
125
216
343
512
729
1000

In [150]:
# 4.9 

cubes = [x for x in range(1, 10  + 1)]

for x in cubes: 
    print(x ** 3)

1
8
27
64
125
216
343
512
729
1000

In [151]:
# 4.10 

cubes = [x for x in range(1, 10  + 1)]

# for x in cubes: 
#    print(x ** 3)

print(cubes) 
print(f"The first three elements of list 'cubes' are {cubes[:3]}")
print(f"The middle three elements of list 'cubes' are {cubes[3:6]}")
print(f"The last three items of list 'cubes' are {cubes[7:10]}")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
The first three elements of list 'cubes' are [1, 2, 3]
The middle three elements of list 'cubes' are [4, 5, 6]
The last three items of list 'cubes' are [8, 9, 10]

In [152]:
# 4.11

pizza = ['pepperoni', 'hawaiian', 'meat-lovers']
pizza.append('new-york style')

friend_pizza = ['pepperoni', 'hawaiian', 'meat-lovers',]
friend_pizza.append('veggie')

for x in pizza:
    print(f"My favorite pizzas are: {x}")

for x in friend_pizza: 
    print(f"My Friend's favorite pizzas are: {x}")

My favorite pizzas are: pepperoni
My favorite pizzas are: hawaiian
My favorite pizzas are: meat-lovers
My favorite pizzas are: new-york style
My Friend's favorite pizzas are: pepperoni
My Friend's favorite pizzas are: hawaiian
My Friend's favorite pizzas are: meat-lovers
My Friend's favorite pizzas are: veggie

In [153]:
# 4.12 

my_foods = ['pizza', 'falafel', 'carrot cake']
friend_foods = my_foods[:]

for x in my_foods: 
    print(x)

for x in friend_foods: 
    print(x)

pizza
falafel
carrot cake
pizza
falafel
carrot cake

In [154]:
# 4.13 

original_buffet = ['salmon', 'rice', 'chicken', 'peppers', 'brocoli']

print("\nOriginal Menu:")
for x in original_buffet: 
    print(x)

# buffet_menu[0] = 'salad'  

new_buffet = ['steak', 'rice', 'chicken', 'mushrooms', 'brocoli']

print("\nNew Menu: ")
for x in new_buffet: 
    print(x)

Original Menu:
salmon
rice
chicken
peppers
brocoli

New Menu:
steak
rice
chicken
mushrooms
brocoli

In [155]:
# 4.14

# 4 spaces per tab 
# > 80 characters per line 
# No excessive blank lines

In [156]:
# 4.15 

multiples = [x for x in range(3, 30, 3)] 
print(multiples)

cubes = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for x in cubes: 
    print(x ** 3) 

cubes = [x for x in range(1, 10  + 1)]

for x in cubes: 
    print(x ** 3)

[3, 6, 9, 12, 15, 18, 21, 24, 27]
1
8
27
64
125
216
343
512
729
1000
1
8
27
64
125
216
343
512
729
1000

In [157]:
# Factorial Function 

def factorial(n):
    my_list = [n for n in range(1, n+1)] 
    
    product = 1
    for num in my_list: 
        product = product * num 
       
    print(product)

factorial(5)
factorial(10)
factorial(20)
factorial(50)

# Exclude 4, 13, 22 from Factorial List

def special_factorial(n):
    my_list = [n for n in range(1, n+1)] 

    if 4 in my_list:
        my_list.remove(4)
    
    if 13 in my_list: 
        my_list.remove(13)
    
    if 22 in my_list: 
        my_list.remove(22)

    product = 1
    for num in my_list: 
        product = product * num

    print(product) 

special_factorial(5)
special_factorial(10)
special_factorial(20)
special_factorial(50)

120
3628800
2432902008176640000
30414093201713378043612608166064768844377641568960512000000000000
30
907200
46786577080320000
26585745805693512275885146998308364374455980392448000000000000